<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="/static/js/jquery-2.1.1.js"></script>
        <script type="text/javascript" src="/static/js/android.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#connect').click(function() {
                    var botId = $('#selector').val();
                    genghisio.openUrl('/android/connect/' + encodeURIComponent(botId));
                });
                setTimeout(function() {
                    Android.frameLoaded();
                }, 100);
            });
        </script>
    </head>
    <body>
        Choose a robot
        <select id="selector">
            <option value="sphero" selected="selected">Sphero</option>
        </select>
        <input id="connect" type="button" value="Connect" />
    </body>
</html>